.botao-logout {
    display: inline-block;
    padding: 8px 15px;
    background-color: #dc3545; /* Vermelho para uma ação de "saída" */
    color: white;
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: bold;
}
.botao-logout:hover {
    background-color: #c82333; /* Vermelho mais escuro ao passar o mouse */
}